@import "tailwindcss";

@theme inline {
  --color-foreground: #4b2e12;
  --color-background: #ffd88d;
  --color-accent: #4b2e12;

  --font-voxel: var(--font-voxel), Helvetica, sans-serif;
  --font-pixelify: var(--font-pixelify), Helvetica, sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Helvetica, sans-serif;
}
